body {
    color: #24292e;
}

.auth-form {
    width: 340px;
    margin: auto;
}

.auth-form-header {
    margin-bottom: 15px;
    color: #24292e;
    font-size: 40px;
    text-align: center;
    text-shadow: none;
    letter-spacing: -.5px;
}
.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 6px;
}

.login-btn{
    width: 100%;
}

.auth-form-footer {
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
}

.auth-error {
    background-color: #ffe3e6;
    border: 1px solid;
    border-radius: 6px;

}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.error {
    border-bottom: 2px solid #ff4332;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}
.logout {
    color: #b7625c;
} */